// fonts
@font-face {
	font-family: 'franfont';
	src:url('fonts/franfont.eot?-mnjqfi');
	src:url('fonts/franfont.eot?#iefix-mnjqfi') format('embedded-opentype'),
		url('fonts/franfont.woff?-mnjqfi') format('woff'),
		url('fonts/franfont.ttf?-mnjqfi') format('truetype'),
		url('fonts/franfont.svg?-mnjqfi#franfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'franfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-nut:before {
	content: "\e600";
}
